---
layout: default
author_profile: false
---

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>
    {% include base_path %}
    {% for post in page.posts %}
      <div class="list__item">
        <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
          <h2 class="archive__item-title" itemprop="headline">
            <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
          </h2>
          {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
        </article>
      </div>
    {% endfor %}
  </div>
</div>